<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiem Chung</title>

    <link rel="shortcut icon" type="image/png" href="../static/images/favicon.ico"/>
    <link rel="stylesheet" href="../static/css/style_tiem_chung.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Begin menu  -->
    <div id="menu">
        <ul class="menu_item">
            <a href="index.html"><img src="../static/images/Logo.png" alt=""></a>
            <li><a href="index.html">
                Trang Chủ</a></li>
            <li><a href="tin_tuc.html">Tin Tức</a></li>
            <li><a href="tiem_chung.html">Tiêm Chủng</a></li>
        </ul>
    </div>
    </div>
    <div id="banner">
        <img src="../static/images/tiem_chung_2.png" alt="">
        <a href="https://tiemchungcovid19.gov.vn/portal/register-person">
            <button>
                ĐĂNG KÝ<br> TIÊM CHỦNG
            </button>
        </a>
        <i class="fa fa-hand-o-up" aria-hidden="true"></i>
    </div>

    <div id="main">
        <div class="content">
            <div class="tiem_chung">
                <h2>THÔNG TIN VỀ 6 LOẠI VẮC XIN COVID-19 SỬ DỤNG TẠI VIỆT NAM</h2>
                <br>
                <br>
                <p>
                    <strong>1. Việt Nam hiện có các loại vắc xin Covid-19 nào?</strong>
                    <br>
                    <br> Tiêm vắc xin là lá chắn an toàn bảo vệ bạn và gia đình trước dịch bệnh Covid-19. Tại Việt Nam hiện nay có 6 loại vaccine phòng COVID-19 đã được Bộ Y tế cấp phép sử dụng bao gồm: vắc xin Moderna (Mỹ), vắc xin Sinovac, vắc xin Astra
                    Zecera (Anh), vắc xin Pfizer (Mỹ - Đức), vắc xin Sinopharm - Sinovax (Trung Quốc), vắc xin Spunik (Nga).</p>
                <a href="https://web-covid-the-gioi.herokuapp.com/tiem_chung.html"><img src="../static/images/tiem_chung.jpg" alt=""></a>
                <p>
                    <br>
                    <br>
                    <strong>2. Tiêm cùng loại hay khác loại vắc xin cho hiệu quả tốt hơn?</strong>
                    <br>
                    <br> Theo hướng dẫn tại Công văn 6030/BYT-DP 2021 của Bộ Y tế thì những người đã tiêm mũi 1 vắc xin nào thì tốt nhất tiêm mũi 2 bằng vắc xin đó. Tuy nhiên, trong trường hợp nguồn vắc xin hạn chế, có thể phối hợp bằng cách tiêm mũi
                    2 vắc xin do Pfizer sản xuất cho người đã tiêm mũi 1 bằng vắc xin do AstraZeneca sản xuất nếu người được tiêm chủng đồng ý. Không sử dụng vắc xin do Moderna sản xuất hoặc các vắc xin khác để tiêm mũi 2 cho người đã tiêm mũi 1 vắc xin
                    AstraZeneca.
                    <br>
                    <br> Cụ thể:
                    <br>
                    <br> - Mũi 1 AstraZeneca + Mũi 2 AstraZeneca hoặc Pfizer (nếu người tiêm đồng ý)
                    <br>
                    <br> - Mũi 1 Sinopharm + Mũi 2 Sinopharm
                    <br>
                    <br> - Mũi 1 Pfizer + Mũi 2 Pfizer
                    <br>
                    <br> - Mũi 1 Moderna + Mũi 2 Moderna.
                    <br>
                    <br> - Mũi 1 AstraZeneca + Mũi 2 không được phép sử dụng Moderna.
                    <br>
                    <br>
                    <br>
                    <br>
                    <strong>3. Khoảng cách 2 mũi tiêm là bao lâu?</strong>
                    <br>
                    <br> Cả 06 loại vắc xin được cấp phép đều cần 2 mũi tiêm để tạo miễn dịch cho cơ thể. Theo Quyết định 3588/QĐ-BYT, khoảng cách giữa 2 mũi tiêm như sau:
                    <br>
                    <br> - Vắc xin COVID-19 Vaccine AstraZeneca: Mũi 1 cách mũi 2: 8-12 tuần.
                    <br>
                    <br> - Vắc xin Gam-COVID-Vac (Tên gọi khác là SPUTNIK V): Mũi 1 cách mũi 2: 3 tuần.
                    <br>
                    <br> - Vắc xin Comirnaty - Pfizer: Mũi 1 cách mũi 2: 3 tuần
                    <br>
                    <br> - Vắc xin SARSCoV-2 Vaccine (Tên gọi khác là Vero Cell): Mũi 1 cách mũi 2: 3-4 tuần.
                    <br>
                    <br> - Vắc xin COVID-19 Vaccine Moderna: Mũi 1 cách mũi 2: 4 tuần
                    <br>
                    <br> Đây là khoảng cách mũi tiêm thứ 2 cho tác dụng vắc xin đạt hiệu quả nhất.
                    <br>
                    <br>
                    <br>
                    <br>
                    <strong>4. Phụ nữ mang thai có nên tiêm vắc xin COVID-19?</strong>
                    <br>
                    <br> Theo hướng dẫn của Bộ Y tế, người mang thai từ 13 tuần trở lên có thể cân nhắc tiêm vaccine Covid-19, tiêm ở cơ sở y tế có khả năng cấp cứu sản khoa. Các loại vaccine hiện có ở Việt Nam đều có thể tiêm cho thai phụ và người đang
                    cho con bú, trừ vaccine Sputnik V chống chỉ định với nhóm này.
                    <br>
                    <br>
                    <br>
                    <br>
                    <strong>5. Những lưu ý quan trọng sau khi tiêm vắc xin</strong>
                    <br>
                    <br> Tại Quyết định 3588/QĐ-BYT Bộ Y tế đưa ra những lưu ý quan trọng đối với người sau khi tiêm vắc xin, cụ thể:
                    <br>
                    <br> - Luôn có người hỗ trợ bên cạnh 24/24 giờ, ít nhất là trong 03 ngày đầu sau tiêm chủng vắc xin phòng COVID-19.
                    <br>
                    <br> - Không nên uống rượu bia và các chất kích thích ít nhất là trong 03 ngày đầu sau tiêm chủng.<br><br> - Bảo đảm dinh dưỡng đầy đủ.<br><br> - Nếu thấy sưng, đỏ, đau, nổi cục nhỏ tại vị trí tiêm: Tiếp tục theo dõi, nếu sưng to nhanh
                    thì đi khám ngay, không bôi, chườm, đắp bất cứ thứ gì vào chỗ sưng đau.
                    <br>
                    <br> - Thường xuyên đo thân nhiệt, nếu có:
                    <br>
                    <br> + Sốt dưới 38,5 độ C: Cởi bớt, nới lỏng quần áo, chườm/lau bằng khăn ấm tại trán, hố nách, bẹn, uống đủ nước. Không để nhiễm lạnh. Đo lại nhiệt độ sau 30 phút.
                    <br>
                    <br> + Sốt từ 38,5 độ C trở lên: Sử dụng thuốc hạ sốt theo chỉ dẫn của nhân viên y tế. Nếu không cắt được sốt hoặc sốt lại trong vòng 2 tiếng cần thông báo ngay cho nhân viên y tế và đến cơ sở y tế gần nhất.
                </p>
            </div>
        </div>
    </div>

    <!-- End menu  -->
    <div id="footer">
        <div class="footer_left">
            <a href="#"><img src="../static/images/Logo_2.png" alt=""></a> 
            <ul class="address">
                <li>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>District 1, Ho Chi Minh</span>
                </li>
                <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>03286999999</span>
                </li>
                <li>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>CovidNews@gmail.com</span>
                </li>
            </ul>
        </div>
        <div class="footer_center">
            <ul>
                <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
            <span>
                Copyright @ 2021 CovidNews
            </span>
        </div>
        <div class="footer_right">
            <img src="../static/images/hinhfooter2.png" alt="">
        </div>
    </div>
</body>

</html>