<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin Tuc</title>

    <link rel="shortcut icon" type="image/png" href="../static/images/favicon.ico"/>
    <link rel="stylesheet" href="../static/css/style_tin_tuc.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Begin menu  -->   
    <div id="menu">
        <ul class="menu_item">
            <a href="index.html"><img src="../static/images/Logo.png" alt=""></a>
            <li><a href="index.html">
                Trang Chủ</a></li>
            <li><a href="tin_tuc.html">Tin Tức</a></li>
            <li><a href="tiem_chung.html">Tiêm Chủng</a></li>
        </ul>
    </div>  

    <div id="main">
        <div class="content">
            <div class="tin_tuc">
                <a href="https://www.24h.com.vn/tin-tuc-trong-ngay/ngay-29-10-them-4889-ca-mac-covid-19-trong-nuoc-c46a1302050.html"><img src="../static/images/covidtrongnuoc.jpg" alt=""></a>
                <div class="noi_dung">
                    <a href="https://www.24h.com.vn/tin-tuc-trong-ngay/ngay-29-10-them-4889-ca-mac-covid-19-trong-nuoc-c46a1302050.html">Ngày 29/10, thêm 4.889 ca mắc covid trong nước</a>
                    <p>Bộ Y tế vừa thông báo ghi nhận 4.889 ca mắc COVID-19 ghi nhận trong nước (tăng 13 ca so với ngày trước đó) tại 50 tỉnh, thành phố(có 2.305...) </p>
                </div>
            </div>
            <div class="tin_tuc">
                <a href="https://vnexpress.net/them-800-000-lieu-vaccine-covid-19-tu-australia-4378843.html"><img src="../static/images/vacxin-covid-19.jpg" alt=""></a>
                <div class="noi_dung">
                    <a href="https://vnexpress.net/them-800-000-lieu-vaccine-covid-19-tu-australia-4378843.html">Thêm 800 liều vaccine Covid-19 từ Australia</a>
                    <p>Đại sứ quán Australia ngày 29/10 bàn giao thêm 800.000 liều vaccine Covid-19 AstraZeneca cho Việt Nam.-VnExpress.</p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="tin_tuc">
                <a href="https://vnexpress.net/ly-do-song-covid-19-troi-day-o-chau-au-4379046.html"><img src="../static/images/covidtaichauau.jpg" alt=""></a>
                <div class="noi_dung">
                    <a href="https://vnexpress.net/ly-do-song-covid-19-troi-day-o-chau-au-4379046.html">Lý do sóng Covid-19 trỗi dậy tại Châu Âu</a>
                    <p>Mùa đông đến gần và một bộ phận dân số chần chừ tiêm chủng khiến ca Covid-19 tăng trở lại Châu Âu, trái với xu hướng nhiều nơi trên thế giới...</p>
                </div>
            </div>
            <div class="tin_tuc">
                <a href="https://vietnamnet.vn/vn/the-gioi/lam-the-nao-an-do-danh-bai-duoc-covid-19-788091.html"><img src="../static/images/covidtaiando.jpg" alt=""></a>
                <div class="noi_dung">
                    <a href="https://vietnamnet.vn/vn/the-gioi/lam-the-nao-an-do-danh-bai-duoc-covid-19-788091.html">Làm thế nào Ấn Độ đánh bại được covid-19?</a>
                    <p>Virus Corona dường như đã kiệt sức sau khi tung hoành ở quốc gia đông dân thứ hai trên thế giới này, tờ The Economist nhận định </p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="tin_tuc">
                <a href="https://vnexpress.net/tai-sao-can-tiem-vaccine-covid-19-cho-tre-em-4379137.html"><img src="../static/images/timvacxintreem.jpg" alt=""></a>
                <div class="noi_dung">
                    <a href="https://vnexpress.net/tai-sao-can-tiem-vaccine-covid-19-cho-tre-em-4379137.html">Tại sao cần tiêm vaccine Covid-19 cho trẻ em</a>
                    <p>Tại những nơi tỷ lệ miễn dịch tự nhiên thấp hoặc trong kịch bản có biến thể mới xuất hiện, tiêm vaccine Covid-19 cho trẻ em đóng vai trò lớn...</p>
                </div>
            </div>
            <div class="tin_tuc">
                <a href="https://www.baogiaothong.vn/tinh-hinh-dich-covid-19-hom-nay-ngay-3010-moi-nhat-d530221.html"><img src="../static/images/covidhanoi.jpg" alt=""></a>
                <div class="noi_dung">
                    <a href="https://www.baogiaothong.vn/tinh-hinh-dich-covid-19-hom-nay-ngay-3010-moi-nhat-d530221.html">Covid-19 ngày 30/10: Ổ dịch nóng nhất Hà Nội thêm 17 ca nhiễm, có 5 trẻ em - Baogiaothong.vn</a>
                    <p>Tin tức dịch Covid-19 ngày 30/10 tại Việt Nam: Trong 17 ca nhiễm vừa ghi nhận tại huyện Quốc Oai, Hà Nội có 5 ca là trẻ em từ 1 đến 12...</p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="tin_tuc">
                <a href="https://tuoitre.vn/bien-the-virus-corona-co-the-lam-giam-hieu-qua-vac-xin-xuat-hien-roi-tuyet-chung-2021102912151885.htm"><img src="../static/images/bientheviruscorona.jpeg" alt=""></a>
                <div class="noi_dung">
                    <a href="https://tuoitre.vn/bien-the-virus-corona-co-the-lam-giam-hieu-qua-vac-xin-xuat-hien-roi-tuyet-chung-2021102912151885.htm">Biến thể virus corona 'có thể làm giảm hiệu quả vaccine xuất hiện rồi tuyệt chủng?</a>
                    <p>TTO - Nghiên cứu đăng trên tạp chí Nature Molecular and Cellular Immunology cho thấy biến thể A.30 của virus SARS-CoV-2 có một số gai...</p>
                </div>
            </div>
            <div class="tin_tuc">
                <a href="https://nld.com.vn/thoi-su-quoc-te/tinh-bao-my-chiu-thua-trong-cuoc-dieu-tra-nguon-goc-covid-19-20211030074855516.htm"><img src="../static/images/tinhbaomy.jpg" alt=""></a>
                <div class="noi_dung">
                    <a href="https://nld.com.vn/thoi-su-quoc-te/tinh-bao-my-chiu-thua-trong-cuoc-dieu-tra-nguon-goc-covid-19-20211030074855516.htm">Tình báo Mỹ chịu thua trong cuộc điều tra ngồn gốc Covid-19?</a>
                    <p>Báo cáo mới lưu ý rằng Viện Virus học Vũ Hán (WIV) trước đây đã tạo ra các hợp thể khảm hoặc tái tổ hợp của các virus corona giống SARS...</p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="tin_tuc">
                <a href="https://vietnamnet.vn/vn/the-gioi/viet-nam-va-the-gioi/anh-chap-nhan-ho-chieu-vac-xin-covid-19-cua-viet-nam-787992.html"><img src="../static/images/hochieucovid.jpg" alt=""></a>
                <div class="noi_dung">
                    <a href="https://vietnamnet.vn/vn/the-gioi/viet-nam-va-the-gioi/anh-chap-nhan-ho-chieu-vac-xin-covid-19-cua-viet-nam-787992.html">Anh chấp nhận 'hộ chiếu vắc xin' Covid-19 của Việt Nam</a>
                    <p>Tuy nhiên, nhà chức trách yêu cầu cả những người đã hồi phục sau khi nhiễm virus SARS-CoV-2 cũng phải tiêm đủ liều vắc xin 2 tuần trước thời...</p>
                </div>
            </div>
            <div class="tin_tuc">
                <a href="https://moh.gov.vn/tin-tong-hop/-/asset_publisher/k206Q9qkZOqn/content/nhung-ieu-can-biet-ve-ay-4-2-bien-the-covid-19-co-kha-nang-lay-nhiem-manh-hon-delta"><img src="../static/images/bienthedelta.jfif" alt=""></a>
                <div class="noi_dung">
                    <a href="https://moh.gov.vn/tin-tong-hop/-/asset_publisher/k206Q9qkZOqn/content/nhung-ieu-can-biet-ve-ay-4-2-bien-the-covid-19-co-kha-nang-lay-nhiem-manh-hon-delta">Những điều cần biết về AY.4.2, biến thể COVID-19 có khả năng lây nhiễm mạnh hơn Delta</a>
                    <p>Virus thường xuyên đột, và virus corona gây bệnh COVID-19 cũng không ngoại lệ. Nó ngày càng trở nên nguy hiểm hơn với khả năng lây...</p>
                </div>
            </div>
        </div>
    </div>

    <!-- End menu  -->
    <div id="footer">
        <div class="footer_left">
            <a href="#"><img src="../static/images/Logo_2.png" alt=""></a> 
            <ul class="address"> 
                <li >
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>District 1, Ho Chi Minh</span> 
                </li>
                <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>03286999999</span>    
                </li>              
                <li>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>CovidNews@gmail.com</span>
                </li>
            </ul>
        </div>
        <div class="footer_center">
            <ul>
                <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
            <span>
                Copyright @ 2021 CovidNews
            </span>
        </div>
        <div class="footer_right">
            <img src="../static/images/hinhfooter2.png" alt="">
        </div>
    </div>
</body>
</html>